src/main/app/emoney-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="BalanceInqConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/BalanceInq" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : BALANCE-INQ Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyBalanceInqValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} BALANCE-INQ Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="trxHistoryConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/TransactionHistory" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : TRANSACTION-HISTORY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyTrxHistoryValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} TRANSACTION-HISTORY Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="resetCredentialConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/Credential/Reset" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : RESET CREDENTIAL EMONEY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyResetCredentialValidationFlow"
			doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} RESET CREDENTIAL EMONEY Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="requestMemberPaymentConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/RequestMemberPayment" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : REQUEST MEMBER PAYMENT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyRequestMemberPaymentValidation"
			doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} REQUEST MEMBER PAYMENT Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="confirmMemberPaymentConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/ConfirmMemberPayment" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : REQUEST MEMBER PAYMENT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyConfirmMemberPaymentValidation"
			doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} REQUEST MEMBER PAYMENT Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="requestPartnerPaymentConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/RequestPartnerPayment" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : REQUEST PARTNER PAYMENT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyRequestPartnerPaymentValidation"
			doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} REQUEST PARTNER PAYMENT Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="confirmPartnerPaymentConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/ConfirmPartnerPayment" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : CONFIRM PARTNER PAYMENT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="emoneyConfirmPartnerPaymentValidation"
			doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} CONFIRM PARTNER PAYMENT Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="accountListConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/Accounts" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : LIST ACCOUNT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="accountListValidation" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} LIST ACCOUNT Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="creditConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/Credit" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : CREDIT Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="creditValidation" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} CREDIT Response = #[payload]]" doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="chargeConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Emoney/Charge" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : CHARGE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="chargeValidation" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} CHARGE Response = #[payload]]" doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
