src/main/app/list-like-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="likeListBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT (SELECT COUNT(*) FROM felo.likes l WHERE timeline_id=#[originalPayload['timelineID']]) as count, m.msisdn, m.name, l.timeline_id, m.profile_picture,
            				(SELECT EXISTS (SELECT 1/0 FROM felo.likes WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']]))) as likes
							FROM felo.likes l
								INNER JOIN felo.members m ON l.member_id=m.id
						   	WHERE l.timeline_id=#[originalPayload['timelineID']]
						   	LIMIT #[Integer.parseInt(originalPayload['currentPage'])], #[Integer.parseInt(originalPayload['pageSize'])]]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>
		<choice>
			<when expression="#[payload.get(0)['likes'] == 1]">
				<set-variable value="yes" variableName="like" />
			</when>
			<otherwise>
				<set-variable value="no" variableName="like" />
			</otherwise>
		</choice>

		<set-variable variableName="trxMaps" value="#[new java.util.ArrayList()]"
			doc:name="Variable" />

		<foreach collection="#[payload]" doc:name="For Each">
			<set-variable variableName="trxPayload" value="#[new java.util.HashMap()]"
				doc:name="Variable" />
			<set-variable variableName="name" value="#[payload.'name']"
				doc:name="Variable" />
			<set-variable variableName="msisdn" value="#[payload.'msisdn']"
				doc:name="Variable" />
			<set-variable variableName="timelineId" value="#[payload.'timeline_id']"
				doc:name="Variable" />
			<set-variable variableName="profPic"
				value="#[payload.'profile_picture']" doc:name="Variable" />

			<expression-transformer
				expression="#[trxPayload['profilePicture']=flowVars.profPic;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['name']=flowVars.name;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['msisdn']=flowVars.msisdn;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['timelineId']=flowVars.timelineId;trxPayload]"
				doc:name="Expression" />

			<expression-component doc:name="Expression">
				<![CDATA[trxMaps.add(trxPayload);]]>
			</expression-component>
		</foreach>
		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['totalLikes']=payload.get(0)['count'];
				responseMap['like']=flowVars['like'];
				responseMap['likes']=flowVars['trxMaps'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
