src/main/app/member-profile-inquiry-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="profileInqBPFlow">
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
	            <![CDATA[SELECT m.id, m.name, m.profile_picture FROM felo.members m 
		        	WHERE m.msisdn=#[originalPayload['msisdn']]]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>
		<set-variable variableName="name" value="#[payload.get(0)['name']]" />
		<set-variable variableName="id" value="#[payload.get(0)['id']]"
			doc:name="Variable" />
		<set-variable variableName="profPic"
			value="#[payload.get(0)['profile_picture']]" doc:name="Variable" />

		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['profilePicture']=flowVars['profPic'];
				responseMap['name']=flowVars['name'];
				responseMap['id']=flowVars['id'];
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>

	<flow name="editProfileMemberBPFlow">
		<choice>
			<when expression="#[originalPayload['profilePicture'] == null]">
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		            	<![CDATA[UPDATE members SET name=#[originalPayload['name']]
		            			WHERE msisdn=#[originalPayload['msisdn']]]]>
					</db:parameterized-query>
				</db:update>
				<logger level="INFO" message="FROM DB = #[payload]" />
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
			</when>
			<otherwise>
				<set-variable value="#[originalPayload['msisdn']]-profilePicture"
					variableName="profPic" doc:name="Variable" />
				<set-variable
					value="${url.file}member/#[flowVars['profPic']].#[originalPayload.profilePicture['fileExtension']]"
					variableName="urlProfPic" doc:name="Variable" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		            	<![CDATA[UPDATE members SET name=#[originalPayload['name']],
		            								profile_picture=#[flowVars['urlProfPic']]
		            			WHERE msisdn=#[originalPayload['msisdn']]]]>
					</db:parameterized-query>
				</db:update>
				<logger level="INFO" message="FROM DB = #[payload]" />
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
						regMap['path']='member';
						regMap['content']=originalPayload.profilePicture['content'];
						regMap['fileExtension']=originalPayload.profilePicture['fileExtension'];
						regMap['fileName']=flowVars['profPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
			</otherwise>
		</choice>
		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['name']=originalPayload['name'];
				responseMap['profilePicture']=flowVars['urlProfPic'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');		
			payload = responseMap;]]>
		</expression-component>
		<logger level="INFO"
			message="[EDIT COMMUNITY SUCCESS #[originalPayload['msisdn']] : #[payload]]"
			doc:name="Logger" />
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
