src/main/app/picture-community-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="pictureCommunityBPFlow">
		<choice>
			<when>
				<and-filter>
					<expression-filter expression="#[originalPayload['profilePicture'] == null]" />
					<expression-filter expression="#[originalPayload['backgroundPicture'] == null]" />
				</and-filter>
				<logger level="INFO"
					message="NO UPDATE PROFILE PICTURE AND BACKGROUND PICTURE" />
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['communityID']=originalPayload['communityID'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('FAILED');		
					payload = responseMap;]]>
				</expression-component>
			</when>
			<when>
				<and-filter>
					<expression-filter expression="#[originalPayload['profilePicture'] != null]" />
					<expression-filter expression="#[originalPayload['backgroundPicture'] == null]" />
				</and-filter>
				<logger level="INFO" message="PROFILE PICTURE" />
				<set-variable value="#[originalPayload['communityID']]-profilePicture"
					variableName="profPic" doc:name="Variable" />
				<set-variable
					value="${url.file}community/#[flowVars['profPic']].#[originalPayload.profilePicture['fileExtension']]"
					variableName="urlProfPic" doc:name="Variable" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		    			<![CDATA[UPDATE communities SET profile_picture=#[flowVars['urlProfPic']],
		            					modified_date=CURRENT_TIMESTAMP()
		            		WHERE id=#[originalPayload['communityID']]]]>
					</db:parameterized-query>
				</db:update>
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
						regMap['path']='community';
						regMap['content']=originalPayload.profilePicture['content'];
						regMap['fileExtension']=originalPayload.profilePicture['fileExtension'];
						regMap['fileName']=flowVars['profPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['communityID']=originalPayload['communityID'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');		
					payload = responseMap;]]>
				</expression-component>
			</when>
			<when>
				<and-filter>
					<expression-filter expression="#[originalPayload['profilePicture'] == null]" />
					<expression-filter expression="#[originalPayload['backgroundPicture'] != null]" />
				</and-filter>
				<logger level="INFO" message="BACKGROUND PICTURE" />
				<set-variable value="#[originalPayload['communityID']]-backgroundPicture"
					variableName="backPic" doc:name="Variable" />
				<set-variable
					value="${url.file}community/#[flowVars['backPic']].#[originalPayload.backgroundPicture['fileExtension']]"
					variableName="urlBackPic" doc:name="Variable" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		    			<![CDATA[UPDATE communities SET background_picture=#[flowVars['urlBackPic']],
		            							modified_date=CURRENT_TIMESTAMP()
		            		WHERE id=#[originalPayload['communityID']]]]>
					</db:parameterized-query>
				</db:update>
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
						regMap['path']='community';
						regMap['content']=originalPayload.backgroundPicture['content'];
						regMap['fileExtension']=originalPayload.backgroundPicture['fileExtension'];
						regMap['fileName']=flowVars['backPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['communityID']=originalPayload['communityID'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');		
					payload = responseMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<logger level="INFO" message="PROFILE PICTURE AND BACKGROUND PICTURE" />
				<set-variable value="#[originalPayload['communityID']]-profilePicture"
					variableName="profPic" doc:name="Variable" />
				<set-variable
					value="${url.file}community/#[flowVars['profPic']].#[originalPayload.profilePicture['fileExtension']]"
					variableName="urlProfPic" doc:name="Variable" />
				<set-variable value="#[originalPayload['communityID']]-backgroundPicture"
					variableName="backPic" doc:name="Variable" />
				<set-variable
					value="${url.file}community/#[flowVars['backPic']].#[originalPayload.backgroundPicture['fileExtension']]"
					variableName="urlBackPic" doc:name="Variable" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		    			<![CDATA[UPDATE communities SET profile_picture=#[flowVars['urlProfPic']],
		    									background_picture=#[flowVars['urlBackPic']],
		            							modified_date=CURRENT_TIMESTAMP()
		            		WHERE id=#[originalPayload['communityID']]]]>
					</db:parameterized-query>
				</db:update>
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
						regMap['path']='community';
						regMap['content']=originalPayload.profilePicture['content'];
						regMap['fileExtension']=originalPayload.profilePicture['fileExtension'];
						regMap['fileName']=flowVars['profPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
						regMap['path']='community';
						regMap['content']=originalPayload.backgroundPicture['content'];
						regMap['fileExtension']=originalPayload.backgroundPicture['fileExtension'];
						regMap['fileName']=flowVars['backPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['communityID']=originalPayload['communityID'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');		
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
