src/main/app/reject-request-to-join-community.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="rejectApprovalCommunityBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />

		<db:delete config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
				<![CDATA[DELETE member_community WHERE member_id=(SELECT id FROM members WHERE msisdn=#[originalPayload['memberRequest']]) 
					AND admin=b'0' AND community_id=#[originalPayload['communityID']]]]>
			</db:parameterized-query>
		</db:delete>
		<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
			<expression-filter expression="#[payload == 1]" />
		</message-filter>
		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['memberRequest']=originalPayload['memberRequest'];
				responseMap['communityID']=originalPayload['communityID'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>

		<logger level="INFO"
			message="[REJECT REQUEST TO JOIN COMMUNITY SUCCESS #[originalPayload['msisdn']] : #[payload]]"
			doc:name="Logger" />
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
	
	<flow name="rejectInvitedCommunityBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />

		<db:delete config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
				<![CDATA[DELETE member_community WHERE member_id=(SELECT id FROM members WHERE msisdn=#[originalPayload['msisdn']]) 
					AND admin=b'1' AND approved_by IS NULL AND community_id=#[originalPayload['communityID']]]]>
			</db:parameterized-query>
		</db:delete>
		<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
			<expression-filter expression="#[payload == 1]" />
		</message-filter>
		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['memberRequest']=originalPayload['memberRequest'];
				responseMap['communityID']=originalPayload['communityID'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>

		<logger level="INFO"
			message="[REJECT REQUEST TO JOIN COMMUNITY SUCCESS #[originalPayload['msisdn']] : #[payload]]"
			doc:name="Logger" />
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
