src/main/app/timeline-detail-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="timelineDetailBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT t.id,t.community_id as communityID,c.name as communityName,t.description,t.file, t.created_date,
            			(SELECT COUNT(*) FROM felo.comments WHERE timeline_id=#[originalPayload['timelineID']]) as comments,
			            (SELECT COUNT(*) FROM felo.likes WHERE timeline_id=#[originalPayload['timelineID']]) as likes,
			            (SELECT EXISTS (SELECT 1/0 FROM felo.likes WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']] AND timeline_id=#[originalPayload['timelineID']]))) as isLike,
			           	(SELECT EXISTS (SELECT 1/0 FROM felo.comments WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']] AND timeline_id=#[originalPayload['timelineID']]))) as isComment,
			           	(SELECT EXISTS (SELECT 1/0 FROM felo.timelines WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']] AND id=#[originalPayload['timelineID']]))) as isMe,
			           	(SELECT EXISTS (SELECT 1/0 FROM felo.member_community WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']]) AND community_id=#[originalPayload['communityID']] AND admin='1')) as isAdmin,
			           	(SELECT name FROM felo.members WHERE id=(SELECT member_id from felo.timelines WHERE id=#[originalPayload['timelineID']])) as shareName,
			           	(SELECT profile_picture FROM felo.members WHERE id=(SELECT member_id from felo.timelines WHERE id=#[originalPayload['timelineID']])) as profPicShare
            		FROM timelines t 
            			INNER JOIN communities c ON  t.community_id=c.id 
            			INNER JOIN felo.members m ON t.member_id=m.id 
            		WHERE t.id=#[originalPayload['timelineID']]]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>

		<set-variable variableName="id" value="#[payload.get(0)['id']]"
			doc:name="Variable" />
		<set-variable variableName="communityID"
			value="#[payload.get(0)['communityID']]" doc:name="Variable" />
		<set-variable variableName="communityName"
			value="#[payload.get(0)['communityName']]" doc:name="Variable" />
		<set-variable variableName="description"
			value="#[payload.get(0)['description']]" doc:name="Variable" />
		<set-variable variableName="shareName"
				value="#[payload.get(0)['shareName']]" doc:name="Variable" />
		<set-variable variableName="profPic"
			value="#[payload.get(0)['profile_picture']]" doc:name="Variable" />
		<set-variable variableName="shareProfPic"
			value="#[payload.get(0)['profPicShare']]" doc:name="Variable" />
		<set-variable variableName="file" value="#[payload.get(0)['file']]"
			doc:name="Variable" />
		<set-variable variableName="isLike" value="#[payload.get(0)['isLike']]"
			doc:name="Variable" />
		<set-variable variableName="isComment"
			value="#[payload.get(0)['isComment']]" doc:name="Variable" />
		<set-variable variableName="comments"
			value="#[payload.get(0)['comments']]" doc:name="Variable" />
		<set-variable variableName="likes" value="#[payload.get(0)['likes']]"
			doc:name="Variable" />
		<set-variable variableName="isMe" value="#[payload.get(0)['isMe']]"
			doc:name="Variable" />
		<set-variable variableName="createdDate"
			value="#[org.felo.api.process.Utils.formatDate(payload.get(0)['created_date'])]"
			doc:name="Variable" />
		<set-variable variableName="isAdmin" value="#[payload.get(0)['isAdmin']]"
			doc:name="Variable" />
		<choice>
			<when expression="#[flowVars['isAdmin'] == 1]">
				<set-variable value="yes" variableName="isadmin" />
			</when>
			<otherwise>
				<set-variable value="no" variableName="isadmin" />
			</otherwise>
		</choice>

		<choice>
			<when expression="#[flowVars['isLike'] == 1]">
				<set-variable value="yes" variableName="islike" />
			</when>
			<otherwise>
				<set-variable value="no" variableName="islike" />
			</otherwise>
		</choice>

		<choice>
			<when expression="#[flowVars['isComment'] == 1]">
				<set-variable value="yes" variableName="iscomment" />
			</when>
			<otherwise>
				<set-variable value="no" variableName="iscomment" />
			</otherwise>
		</choice>

		<choice>
			<when expression="#[flowVars['isMe'] == 1]">
				<set-variable value="yes" variableName="isme" />
			</when>
			<otherwise>
				<set-variable value="no" variableName="isme" />
			</otherwise>
		</choice>

		<expression-component doc:name="Expression">
			<![CDATA[
				responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['communityID']=flowVars['communityID'];
				responseMap['communityName']=flowVars['communityName'];
				responseMap['description']=flowVars['description'];
				responseMap['createdDate']=flowVars['createdDate'];
				responseMap['comments']=flowVars['comments'];
				responseMap['likes']=flowVars['likes'];
				responseMap['isComment']=flowVars['iscomment'];
				responseMap['isLike']=flowVars['islike'];
				responseMap['isMe']=flowVars['isme'];
				responseMap['isAdmin']=flowVars['isadmin'];
				responseMap['file']=flowVars['file'];
				responseMap['profilePicture']=flowVars['profPic'];
				responseMap['shareProfilePicture']=flowVars['shareProfPic'];
				responseMap['shareName']=flowVars['shareName'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
