target/test-classes/category-validation-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="categoryInquiryValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['categoryID'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="categoryDetailBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>

	<flow name="categoryRegisterValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['name'] != null]" />
				<expression-filter expression="#[originalPayload['description'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<logger level="INFO" message="[CATEGORY REGISTER = #[payload]]" />
				<flow-ref name="registerCategoryBPFlow" />
			</when>
			<otherwise>
				<logger level="INFO" message="[CATEGORY REGISTER FAILED = #[payload]]" />
			</otherwise>
		</choice>
	</flow>

	<flow name="categoryListValidationFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<expression-filter expression="#[originalPayload['token'] != null]" />
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="categoryListBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>
	
	<flow name="deleteCategoryValidationFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['categoryID'] != null]"/>
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="deleteCategoryBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>
</mule>
