target/test-classes/comment-validation-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="commentRegisterValidationFlow">
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['communityID'] != null]" />
				<expression-filter expression="#[originalPayload['timelineID'] != null]" />
				<expression-filter expression="#[originalPayload['comment'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<logger level="INFO" message="[COMMENT REGISTER = #[payload]]" />
				<flow-ref name="registerCommentBPFlow" />
			</when>
			<otherwise>
				<logger level="INFO" message="[COMMENT REGISTER FAILED = #[payload]]" />
			</otherwise>
		</choice>
	</flow>

	<flow name="commentListValidationFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['timelineID'] != null]" />
				<expression-filter expression="#[originalPayload['currentPage'] != null]" />
				<expression-filter expression="#[originalPayload['pageSize'] != null]"/>
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="commentListBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>

	<flow name="deleteCommentValidationFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['commentID'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="deleteCommentBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>
	
	<flow name="editCommentValidationFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter expression="#[originalPayload['token'] != null]" />
				<expression-filter expression="#[originalPayload['commentID'] != null]" />
			</and-filter>
		</message-filter>

		<flow-ref name="tokenValidationFlow" />
		<choice>
			<when expression="#[payload.status.message == 'SUCCESS']">
				<flow-ref name="editCommentBPFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO" message="[MEMBER NOT FOUND = #[payload]]" />
			</otherwise>
		</choice>
	</flow>
</mule>
