target/test-classes/credential-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="changeCredentialBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<set-variable variableName="action" value="DECRYPT"
			doc:name="Variable" />
		<set-variable variableName="password"
			value="#[originalPayload['newCredential']]" doc:name="Variable" />
		<pooled-component>
			<spring-object bean="LoginCredentialHandler" />
		</pooled-component>
		<set-variable variableName="newCred" value="#[payload]"
			doc:name="Variable" />
		<logger level="INFO" message="NEW CREDENTIAL : #[flowVars['newCred']]"
			doc:name="Logger" />
		<set-variable variableName="action" value="DECRYPT"
			doc:name="Variable" />
		<set-variable variableName="password"
			value="#[originalPayload['oldCredential']]" doc:name="Variable" />
		<pooled-component>
			<spring-object bean="LoginCredentialHandler" />
		</pooled-component>
		<set-variable variableName="oldCred" value="#[payload]"
			doc:name="Variable" />
		<logger level="INFO" message="OLD CREDENTIAL : #[flowVars['oldCred']]"
			doc:name="Logger" />
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[UPDATE accounts SET password=MD5(#[flowVars['newCred']]) 
            		WHERE password=MD5(#[flowVars['oldCred']])
            		AND username=#[originalPayload['msisdn']]]]>
            </db:parameterized-query>
		</db:update>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
			<expression-filter expression="#[payload == 1]" />
		</message-filter>
		<expression-component doc:name="Expression">
			<![CDATA[
				responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="resetCredentialBPFlow">
		<set-payload value="#[flowVars['originalPayload']]" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT msisdn FROM felo.members
					WHERE email=#[originalPayload['email']]]]>
            </db:parameterized-query>
		</db:select>
		<set-variable variableName="checkMsisdn"
			value="#[originalPayload['msisdn'] == payload.get[0]['msisdn']]"
			doc:name="Variable" />

		<choice>
			<when expression="#[flowVars['checkMsisdn'] == 'true']">
				<set-variable
					value="62#[org.apache.commons.lang.StringUtils.substring(payload['msisdn'],1)]"
					variableName="msisdn" doc:name="Variable" />
				<set-variable
					value="#[org.felo.api.process.Utils.getRandomNumberInRange(999999)]"
					variableName="otpnonpad" doc:name="Variable" />
				<set-variable
					value="#[org.apache.commons.lang.StringUtils.leftPad(otpnonpad,6,'0')]"
					variableName="otp" doc:name="Variable" />

				<expression-component doc:name="Expression">
					<![CDATA[cacheMap = new java.util.HashMap();
					cacheMap['password']= flowVars['password'];			
					cacheMap['msisdn']= flowVars['msisdn'];
					payload = cacheMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="Notification_VM" path="reset.credential.request.notification"
					doc:name="VM" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		            	<![CDATA[UPDATE accounts SET password=MD5(#[flowVars['password']]) 
		            		WHERE username=#[originalPayload['msisdn']]]]>
	            	</db:parameterized-query>
				</db:update>
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
					payload = responseMap;]]>
				</expression-component>
			</when>
			<otherwise>
				<expression-component doc:name="Expression">
					<![CDATA[responseMap=new java.util.HashMap();
						responseMap['msisdn']=originalPayload['msisdn'];
						responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('INVALID');			
					payload = responseMap;]]>
				</expression-component>
			</otherwise>
		</choice>
		<flow-ref name="responseHandlerFlow" />
	</flow>
</mule>
