target/test-classes/list-event-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="eventListBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT id, ticket_id, location, event_name, picture, created_date, 
            			 (SELECT EXISTS (SELECT 1/0 FROM felo.member_community WHERE member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']]) AND community_id=#[originalPayload['communityID']] AND admin='1')) as isAdmin
            		 FROM felo.events WHERE community_id=#[originalPayload['communityID']]]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>
		<set-variable variableName="trxMaps" value="#[new java.util.ArrayList()]"
			doc:name="Variable" />

		<foreach collection="#[payload]" doc:name="For Each">
			<set-variable variableName="trxPayload" value="#[new java.util.HashMap()]"
				doc:name="Variable" />
			<set-variable variableName="id" value="#[payload.'id']"
				doc:name="Variable" />
			<set-variable variableName="ticketID" value="#[payload.'ticket_id']"
				doc:name="Variable" />
			<set-variable variableName="location" value="#[payload.'location']"
				doc:name="Variable" />
			<set-variable variableName="eventName" value="#[payload.'event_name']"
				doc:name="Variable" />
			<set-variable variableName="eventPic" value="#[payload.'picture']"
				doc:name="Variable" />
			<set-variable variableName="createdDate" value="#[payload.'created_date']"
				doc:name="Variable" />
			<set-variable variableName="isAdmin" value="#[payload.'isAdmin']"
				doc:name="Variable" />
			<choice>
				<when expression="#[flowVars['isAdmin'] == 1]">
					<set-variable value="yes" variableName="isadmin" />
				</when>
				<otherwise>
					<set-variable value="no" variableName="isadmin" />
				</otherwise>
			</choice>

			<expression-transformer expression="#[trxPayload['id']=flowVars.id;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['ticketID']=flowVars.ticketID;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['location']=flowVars.location;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['eventName']=flowVars.eventName;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['eventPicture']=flowVars.eventPic;trxPayload]"
				doc:name="Expression" />
				
			<set-variable
				value="#[org.felo.api.process.Utils.formatDate(flowVars['createdDate'])]"
				variableName="credDate" doc:name="Variable" />
				
			<expression-transformer
				expression="#[trxPayload['createdDate']=flowVars.credDate;trxPayload]"
				doc:name="Expression" />
			
			<expression-transformer
				expression="#[trxPayload['isAdmin']=flowVars.isadmin;trxPayload]"
				doc:name="Expression" />

			<expression-component doc:name="Expression">
				<![CDATA[trxMaps.add(trxPayload);]]>
			</expression-component>

		</foreach>
		<expression-component doc:name="Expression">
			<![CDATA[
				responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['events']=flowVars['trxMaps'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
