target/test-classes/response-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="responseHandlerFlow">
		<set-variable value="#[payload.status.message]"
			variableName="statusMessage" doc:name="Variable" />
		<json:object-to-json-transformer
			doc:name="Object 
			to JSON"/>
		<set-property propertyName="http.status"
			value="#[org.felo.api.data.StatusBuilder.getHttpStatus(statusMessage)]" doc:name="Property"/>
	</flow>


	<flow name="invalidParameterFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.felo.api.data.StatusBuilder.getStatus('INVALID_PARAMETER');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>

	<flow name="requestValidationFlow">
		<set-variable variableName="httpStatus" value="#[payload]"
			doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.felo.api.data.StatusBuilder.getStatus(payload);
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>

	<flow name="invalidURLFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.felo.api.data.StatusBuilder.getStatus('INVALID_URL');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>
	
	<flow name="dataNotFoundFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.felo.api.data.StatusBuilder.getStatus('NOT_FOUND');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>
	
	<flow name="dbFailedFlow">
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['status'] = org.felo.api.data.StatusBuilder.getStatus('UNKNOWN_ERROR');
			payload = responseMap;]]>
		</expression-component>
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference"/>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
	</flow>
</mule>
