target/test-classes/unseen-message-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="unseenMessageBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
				<![CDATA[SELECT sum(if(ms.status='0',1,0)) as notif 
					FROM messages ms 
					INNER JOIN members m ON ms.member_id=m.id 
						WHERE ms.community_id=#[originalPayload.communityID] AND ms.status='0' AND m.msisdn=#[originalPayload.msisdn]
					group by ms.community_id]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="NOTIF = #[payload.get(0)['notif']]"/>
		<set-variable variableName="notif" value="#[payload.get(0)['notif']]" doc:name="Variable" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT ms.id, m.msisdn, ms.message, ms.message_date 
            		FROM member_community mc INNER JOIN messages ms ON mc.member_id=ms.member_id 
            		INNER JOIN members m ON mc.member_id=m.id 
            			WHERE ms.community_id=#[originalPayload.communityID] 
            			AND ms.status='0' 
            			AND (m.msisdn=(SELECT m.msisdn FROM member_community mc 
            				INNER JOIN messages ms ON mc.member_id=ms.member_id 
            				INNER JOIN members m ON mc.member_id=m.id 
            				WHERE mc.community_id=#[originalPayload.communityID] AND mc.admin='1' group by m.msisdn) 
            				OR m.msisdn=#[originalPayload.msisdn])]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<expression-component doc:name="Expression">
			<![CDATA[
				responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['unseenMessage']=flowVars['notif'];
				responseMap['chattingDetails']=payload;
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
