target/classes/community-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="communityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community" allowedMethods="GET,POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<choice doc:name="Choice">
			<when expression="#[flowVars['method'] == 'GET']">
				<logger level="INFO"
					message="[{#[correlationID]} : COMMUNITY-INQUIRY Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="communityInquiryValidationFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO"
					message="[{#[correlationID]} : COMMUNITY-REGISTER Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="communityRegisterValidationFlow" doc:name="Flow Reference" />
			</otherwise>
		</choice>

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityListFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/List" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY LIST Request = #[originalPayload['communityID']] ]"
			doc:name="Logger" />
		<flow-ref name="communityListValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityManageListFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/ManageList" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-MANAGE LIST Request = #[originalPayload['communityID']] ]"
			doc:name="Logger" />
		<flow-ref name="communityManageListValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communitySubscribeListFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/SubscribeList" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-SUBSCRIBE LIST Request = #[originalPayload['communityID']] ]"
			doc:name="Logger" />
		<flow-ref name="communitySubscribeListValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityRecommendListFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/RecommendList" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-RECOMMENDED LIST Request = #[flowVars['originalPayload']] ]"
			doc:name="Logger" />
		<flow-ref name="communityRecommendListValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityDeleteFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Delete" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-DELETE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="deleteCommunityValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityJoinFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Join" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : JOIN-COMMUNITY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="joinCommunityValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityApprovedFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Approved" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-DELETE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="approvedCommunityValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityInvitedApprovedFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Invite/Approve" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : APPROVED INVITED TO COMMUNITY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="approvedInvitedCommunityValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="rejectApprovalCommunityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Reject" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-REJECT-APPROVAL Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="rejectApprovalCommunityValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="rejectInvitedCommunityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Invite/Reject" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-REJECT-INVITED Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="rejectInvitedCommunityValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="communityPendingApprovalFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/PendingApproval" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : LIST PENDING APPROVAL-DELETE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="pendingApprovalCommunityValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="editCommunityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Edit" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : EDIT-COMMUNITY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="editCommunityValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} : EDIT-COMMUNITY Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="inviteFriendtoJoinFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Invite" allowedMethods="GET,POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<choice>
			<when expression="#[flowVars['method'] == 'GET']">
				<logger level="INFO"
					message="[{#[correlationID]} : LIST-INVITE-FRIENDS TO COMMUNITY Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="listInviteFriendsValidationFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<logger level="INFO"
					message="[{#[correlationID]} : INVITE FRIENDS TO COMMUNITY Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="inviteFriendsValidationFlow" doc:name="Flow Reference" />
			</otherwise>
		</choice>

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="searchCommunityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Search" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : SEARCH COMMUNITY Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="searchCommunityValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="pictureCommunityFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Picture" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<set-variable variableName="originalPayload" value="#[new java.util.HashMap()]"
			doc:name="Variable" />
		<foreach collection="#[message.inboundAttachments]" doc:name="For Each">
			<choice doc:name="Choice">
				<when expression="#[flowVars.key == 'profilePicture']">
					<set-variable
						value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
						variableName="fileExtension" doc:name="Variable" />
					<expression-component doc:name="Expression">
								<![CDATA[regMap = new java.util.HashMap();
									regMap['content']= payload.getContent();			
									regMap['fileName']= 'profilePicture';
									regMap['fileExtension']= flowVars.fileExtension;
								payload = regMap;]]>
					</expression-component>
					<expression-transformer
						expression="#[originalPayload['profilePicture']=payload;originalPayload]"
						doc:name="Expression" />
				</when>
				<when expression="#[flowVars.key == 'backgroundPicture']">
					<set-variable
						value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
						variableName="fileExtension" doc:name="Variable" />
					<expression-component doc:name="Expression">
								<![CDATA[regMap = new java.util.HashMap();
									regMap['content']= payload.getContent();			
									regMap['fileName']= 'backgroundPicture';
									regMap['fileExtension']= flowVars.fileExtension;
								payload = regMap;]]>
					</expression-component>
					<expression-transformer
						expression="#[originalPayload['backgroundPicture']=payload;originalPayload]"
						doc:name="Expression" />
				</when>
				<otherwise>
					<expression-transformer
						expression="#[originalPayload[flowVars.key]=payload.getContent();originalPayload]"
						doc:name="Expression" />
				</otherwise>
			</choice>
		</foreach>
		<set-payload value="#[originalPayload]" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />

		<logger level="INFO"
			message="[{#[correlationID]} : PICTURE-COMMUNITY Request = #[originalPayload['communityID']]]"
			doc:name="Logger" />
		<flow-ref name="pictureCommunityValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} : PICTURE-COMMUNITY Response = #[payload]]"
			doc:name="Logger" />
		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
	
	<flow name="communityUnsubscribeFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Community/Unsubscribe" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : COMMUNITY-UNSUBSCRIBE Request = #[originalPayload['communityID']] ]"
			doc:name="Logger" />
		<flow-ref name="unSubcribeCommunityValidationFlow"
			doc:name="Flow Reference" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

</mule>
