target/classes/edit-comment-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="editCommentBPFlow" >
		<db:update config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[UPDATE comments SET comment=#[originalPayload['comment']],
            								 modified_date=CURRENT_TIMESTAMP()
            			WHERE id=#[originalPayload['commentID']] 
            			AND member_id=(SELECT id FROM felo.members WHERE msisdn=#[originalPayload['msisdn']])]]>
			</db:parameterized-query>
		</db:update>
		<logger level="INFO" message="FROM DB = #[payload]" />
		<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
			<expression-filter expression="#[payload == 1]" />
		</message-filter>
		
		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['comment']=originalPayload['comment'];
				responseMap['commentID']=originalPayload['commentID'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');		
			payload = responseMap;]]>
		</expression-component>
		<logger level="INFO"
			message="[EDIT COMMENT SUCCESS #[originalPayload['msisdn']] : #[payload]]"
			doc:name="Logger" />
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
