target/classes/edit-event-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="editEventBPFlow">
		<choice>
			<when expression="#[originalPayload['eventPicture'] == '']">
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		            	<![CDATA[UPDATE felo.events 
		            					SET event_name=#[originalPayload['name']],
		            						location=#[originalPayload['location']]
		            			WHERE id=#[originalPayload['eventID']]]]>
					</db:parameterized-query>
				</db:update>
				<logger level="INFO" message="FROM DB = #[payload]" />
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
			</when>
			<otherwise>
				<set-variable variableName="eventPic"
					value="#[flowVars['ticketID']]-eventPicture" doc:name="Variable" />
				<set-variable variableName="urlEventPic"
					value="${url.file}event/#[flowVars['eventPic']].#[originalPayload.eventPicture['fileExtension']]"
					doc:name="Variable" />
				<db:update config-ref="MySQL_Configuration" doc:name="Database">
					<db:parameterized-query>
		            	<![CDATA[UPDATE felo.events
		            					SET event_name=#[originalPayload['name']],
		            						picture=#[flowVars['urlEventPic']],
		            						location=#[originalPayload['location']]
		            			WHERE id=#[originalPayload['eventID']]]]>
					</db:parameterized-query>
				</db:update>
				<logger level="INFO" message="FROM DB = #[payload]" />
				<message-filter onUnaccepted="dbFailedFlow" doc:name="Message">
					<expression-filter expression="#[payload == 1]" />
				</message-filter>
				<expression-component doc:name="Expression">
					<![CDATA[regMap=new java.util.HashMap();
							regMap['path']='event';
							regMap['content']=originalPayload.eventPicture['content'];
							regMap['fileExtension']=originalPayload.eventPicture['fileExtension'];
							regMap['fileName']=flowVars['eventPic'];
					payload = regMap;]]>
				</expression-component>
				<vm:outbound-endpoint exchange-pattern="one-way"
					connector-ref="File_VM" path="save.file" doc:name="VM" />
			</otherwise>
		</choice>

		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['eventName']=originalPayload['name'];
				responseMap['location']=originalPayload['location'];
				responseMap['agenda']=originalPayload['agenda'];
				responseMap['action']=originalPayload['action'];
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
		<logger level="INFO"
			message="[EDIT EVENT SUCCESS #[originalPayload['msisdn']] : #[payload]]"
			doc:name="Logger" />
		<flow-ref name="responseHandlerFlow" doc:name="Flow Reference" />
	</flow>
</mule>
