target/classes/list-category-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="categoryListBPFlow">
		<set-payload value="#[flowVars['originalPayload']]"
			doc:name="Set Payload" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query>
            	<![CDATA[SELECT id, category, description, url_picture FROM categories]]>
			</db:parameterized-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[originalPayload['msisdn'] != []]" />
		</message-filter>
		<set-variable variableName="trxMaps" value="#[new java.util.ArrayList()]"
			doc:name="Variable" />

		<foreach collection="#[payload]" doc:name="For Each">
			<set-variable variableName="trxPayload" value="#[new java.util.HashMap()]"
				doc:name="Variable" />
			<set-variable variableName="id" value="#[payload.'id']"
				doc:name="Variable" />
			<set-variable variableName="category" value="#[payload.'category']"
				doc:name="Variable" />
			<set-variable variableName="description" value="#[payload.'description']"
				doc:name="Variable" />
			<set-variable variableName="catPic"
				value="#[payload.'url_picture']" doc:name="Variable" />

			<set-variable value="#[flowVars['catPic']]"
				variableName="path" doc:name="Variable" />
			<choice>
				<when expression="#[flowVars['path'] == null]">
					<logger level="INFO" message="PROFILE PICTURE =#[flowVars['catPic']]" />
				</when>
				<otherwise>
					<flow-ref name="inputFile" doc:name="Flow Reference" />
					<set-variable value="#[payload]" variableName="catPic"
						doc:name="Variable" />
				</otherwise>
			</choice>

			<expression-transformer expression="#[trxPayload['id']=flowVars.id;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['category']=flowVars.category;trxPayload]"
				doc:name="Expression" />
				
			<expression-transformer
				expression="#[trxPayload['description']=flowVars.description;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['categoryPicture']=flowVars.catPic;trxPayload]"
				doc:name="Expression" />

			<expression-component doc:name="Expression">
				<![CDATA[trxMaps.add(trxPayload);]]>
			</expression-component>

		</foreach>
		<expression-component doc:name="Expression">
			<![CDATA[
				responseMap=new java.util.HashMap();
				responseMap['msisdn']=originalPayload['msisdn'];
				responseMap['categories']=flowVars['trxMaps'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
