target/classes/member-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="registerMemberFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member/Register" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : MEMBER-REGISTER Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="registerMemberValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} MEMBER-REGISTER Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="OTPRegisterMemberFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member/OTPRegister" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : OTP-MEMBER-REGISTER Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="OTPRegisterMemberValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} OTP-MEMBER-REGISTER Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="KYCMemberFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member/KYC" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable variableName="originalPayload" value="#[new java.util.HashMap()]"
			doc:name="Variable" />
		<foreach collection="#[message.inboundAttachments]" doc:name="For Each">
			<choice doc:name="Choice">
				<when expression="#[flowVars.key == 'profilePicture']">
					<set-variable
						value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
						variableName="fileExtension" doc:name="Variable" />
					<expression-component doc:name="Expression">
						<![CDATA[
						regMap = new java.util.HashMap();
						regMap['content']= payload.getContent();			
						regMap['fileName']= '1-' + message.id;
						regMap['fileExtension']= flowVars.fileExtension;
						payload = regMap;]]>
					</expression-component>
					<expression-transformer
						expression="#[originalPayload['profilePicture']=payload;originalPayload]"
						doc:name="Expression" />
				</when>
				<when expression="#[flowVars.key == 'identityPicture']">
					<set-variable
						value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
						variableName="fileExtension" doc:name="Variable" />
					<expression-component doc:name="Expression">
						<![CDATA[
						regMap = new java.util.HashMap();
						regMap['content']= payload.getContent();			
						regMap['fileName']= '2-' + message.id;
						regMap['fileExtension']= flowVars.fileExtension;
						payload = regMap;]]>
					</expression-component>
					<expression-transformer
						expression="#[originalPayload['identityPicture']=payload;originalPayload]"
						doc:name="Expression" />
				</when>
				<when expression="#[flowVars.key == 'selfiePicture']">
					<set-variable
						value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
						variableName="fileExtension" doc:name="Variable" />
					<expression-component doc:name="Expression">
						<![CDATA[
						regMap = new java.util.HashMap();
						regMap['content']= payload.getContent();			
						regMap['fileName']= '3-' + message.id;
						regMap['fileExtension']= flowVars.fileExtension;
						payload = regMap;]]>
					</expression-component>
					<expression-transformer
						expression="#[originalPayload['selfiePicture']=payload;originalPayload]"
						doc:name="Expression" />
				</when>
				<otherwise>
					<expression-transformer
						expression="#[originalPayload[flowVars.key]=payload.getContent();originalPayload]"
						doc:name="Expression" />
				</otherwise>
			</choice>
		</foreach>
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<set-payload value="#[originalPayload]" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<logger level="INFO"
			message="[{#[correlationID]} : MEMBER-KYC-REGISTER Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="kycMemberValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} MEMBER-KYC-REGISTER Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="ChangeCredentialFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member/Change/Credential" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : CHANGE CREDENTIAL Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="changeCredentialValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} CHANGE CREDENTIAL Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="ResetCredentialFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member/Reset/Credential" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : RESET CREDENTIAL Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="resetCredentialValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} RESET CREDENTIAL Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="MemberFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Member" allowedMethods="GET,POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<choice doc:name="Choice">
			<when expression="#[flowVars['method'] == 'GET']">
				<custom-transformer class="org.felo.api.data.MessageTransformer"
					doc:name="Java" />
				<set-variable variableName="originalPayload" value="#[payload]"
					doc:name="Variable" />

				<logger level="INFO"
					message="[{#[correlationID]} : MEMBER-INQUIRY Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="profileInqValidationFlow" doc:name="Flow Reference" />
			</when>
			<otherwise>
				<set-variable variableName="originalPayload" value="#[new java.util.HashMap()]"
					doc:name="Variable" />
				<foreach collection="#[message.inboundAttachments]"
					doc:name="For Each">
					<choice doc:name="Choice">
						<when expression="#[flowVars.key == 'profilePicture']">
							<set-variable
								value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
								variableName="fileExtension" doc:name="Variable" />
							<expression-component doc:name="Expression">
								<![CDATA[regMap = new java.util.HashMap();
									regMap['content']= payload.getContent();			
									regMap['fileName']= 'profilePicture';
									regMap['fileExtension']= flowVars.fileExtension;
								payload = regMap;]]>
							</expression-component>
							<expression-transformer
								expression="#[originalPayload['profilePicture']=payload;originalPayload]"
								doc:name="Expression" />
						</when>
						<otherwise>
							<expression-transformer
								expression="#[originalPayload[flowVars.key]=payload.getContent();originalPayload]"
								doc:name="Expression" />
						</otherwise>
					</choice>
				</foreach>
				<set-payload value="#[originalPayload]" />
				<custom-transformer class="org.felo.api.data.MessageTransformer"
					doc:name="Java" />
				<logger level="INFO"
					message="[{#[correlationID]} : PROFILE-UPDATE Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="editProfileInqValidationFlow" doc:name="Flow Reference" />
			</otherwise>
		</choice>

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
