target/classes/message-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="messageConficFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Message" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : MESSAGE-REGISTER Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="messageRegisterValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="messageListConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Message/List" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : MESSAGE-LIST Request = #[flowVars['originalPayload']] ]"
			doc:name="Logger" />
		<flow-ref name="messageListValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="unseenMessageConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Message" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : MESSAGE-LIST Request = #[flowVars['originalPayload']] ]"
			doc:name="Logger" />
		<flow-ref name="unseenMessageValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="updateMessageConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Message/Status" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : MESSAGE UPDATE-STATUS Request = #[flowVars['originalPayload']] ]"
			doc:name="Logger" />
		<flow-ref name="updateMessageValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="messageDeleteConficFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Message/Delete" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : MESSAGE-DELETE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="deleteMessageValidationFlow" doc:name="Flow Reference" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
