target/classes/notification-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="resetCredentialNotificationConfigFlow">
		<vm:inbound-endpoint exchange-pattern="one-way"
			connector-ref="Notification_VM" path="reset.credential.request.notification"
			doc:name="VM" />
		<logger level="INFO" message="[Register Request Notification]"
			doc:name="Logger" />
		<set-variable
			value="62#[org.apache.commons.lang.StringUtils.substring(payload['msisdn'],1)]"
			variableName="msisdn" doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['text']= 'Berikut ini adalah password baru Anda : ' + payload.password + '. Silahkan langsung mengganti password Anda';
			responseMap['to']= flowVars.msisdn;
			responseMap['from']= 'RESET PASSWORD';
			payload = responseMap;]]>
		</expression-component>
		<!-- <jms:outbound-endpoint connector-ref="Active_MQ"
			queue="notification.sms" doc:name="JMS" /> -->
	</flow>

	<flow name="otpRegisterMemberConfig">
		<vm:inbound-endpoint exchange-pattern="one-way"
			connector-ref="Notification_VM" path="otp.register.notification"
			doc:name="VM" />
		<logger level="INFO" message="[Register Request Notification]"
			doc:name="Logger" />
		<set-variable
			value="62#[org.apache.commons.lang.StringUtils.substring(payload['msisdn'],1)]"
			variableName="msisdn" doc:name="Variable" />
		<expression-component doc:name="Expression">
			<![CDATA[
			responseMap = new java.util.HashMap();
			responseMap['text']= 'Gunakan OTP : ' + payload.otp + ' berlaku 15 menit';
			responseMap['to']= flowVars.msisdn;
			responseMap['from']= 'REGISTRASI FELO';
			payload = responseMap;]]>
		</expression-component>
		<!-- <jms:outbound-endpoint connector-ref="Active_MQ"
			queue="notification.sms" doc:name="JMS" /> -->
	</flow>

	<flow name="loginNotificationConfigFlow">
		<vm:inbound-endpoint exchange-pattern="one-way"
			connector-ref="Notification_VM" path="login.notification" doc:name="VM" />
		<logger level="INFO" message="[Login Email Notification]"
			doc:name="Logger" />
		<expression-component doc:name="Expression">
			<![CDATA[
			regMap = new java.util.HashMap();
			regMap['from']= 'noreply@optima.co.id';
			regMap['to']= payload['email'];
			regMap['subject']= 'NOTIF KEAMANAN';
			regMap['body']= payload['name']+',\r\n Akun Felo Anda baru saja login dari perangkat baru. Anda mendapatkan email ini untuk memastikan ini memang Anda.' ;
			payload = regMap;]]>
		</expression-component>
		<!-- <jms:outbound-endpoint connector-ref="Active_MQ"
			queue="notification.email" doc:name="JMS" /> -->
	</flow>

</mule>
