target/classes/search-community-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="searchCommunityBPFlow">
		<set-payload
			value="#[&quot;SELECT id, name, profile_picture, created_date FROM felo.communities
		            		WHERE name LIKE '%&quot; + originalPayload.communityName + &quot;%'&quot;]" />
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:dynamic-query><![CDATA[#[payload]]]></db:dynamic-query>
		</db:select>
		<logger level="INFO" message="PAYLOAD DB = #[payload]"
			doc:name="Logger" />
		<message-filter onUnaccepted="dataNotFoundFlow"
			doc:name="Message">
			<expression-filter expression="#[payload != []]" />
		</message-filter>

		<set-variable variableName="trxMaps" value="#[new java.util.ArrayList()]"
			doc:name="Variable" />

		<foreach collection="#[payload]" doc:name="For Each">
			<set-variable variableName="trxPayload" value="#[new java.util.HashMap()]"
				doc:name="Variable" />

			<set-variable variableName="id"
				value="#[new String(payload.'id')]" doc:name="Variable" />
			<set-variable variableName="name" value="#[payload.'name']" />
			<set-variable variableName="createdDate"
				value="#[org.felo.api.process.Utils.formatDate(payload.'created_date')]"
				doc:name="Variable" />
			<set-variable variableName="profPic"
				value="#[payload.'profile_picture']" doc:name="Variable" />
			
			<expression-transformer expression="#[trxPayload['id']=flowVars.id;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['name']=flowVars.name;trxPayload]"
				doc:name="Expression" />
				
			<expression-transformer
				expression="#[trxPayload['createdDate']=flowVars.createdDate;trxPayload]"
				doc:name="Expression" />

			<expression-transformer
				expression="#[trxPayload['profilePicture']=flowVars.profPic;trxPayload]"
				doc:name="Expression" />
			
			<expression-component doc:name="Expression">
				<![CDATA[trxMaps.add(trxPayload);]]>
			</expression-component>
		</foreach>

		<expression-component doc:name="Expression">
			<![CDATA[responseMap=new java.util.HashMap();
				responseMap['communities']=flowVars['trxMaps'];
				responseMap['status']= org.felo.api.data.StatusBuilder.getStatus('PROCESSED');			
			payload = responseMap;]]>
		</expression-component>
	</flow>
</mule>
