target/classes/timeline-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.8.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="timelineConficFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Timeline" allowedMethods="GET,POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<choice>
			<when expression="#[flowVars['method'] == 'GET']">
				<custom-transformer class="org.felo.api.data.MessageTransformer"
					doc:name="Java" />
				<set-variable variableName="originalPayload" value="#[payload]"
					doc:name="Variable" />
				<logger level="INFO"
					message="[{#[correlationID]} : TIMELINE-INQUIRY Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="timelineInquiryValidationFlow" />
			</when>
			<otherwise>
				<set-variable variableName="originalPayload" value="#[new java.util.HashMap()]"
					doc:name="Variable" />
				<foreach collection="#[message.inboundAttachments]"
					doc:name="For Each">
					<choice doc:name="Choice">
						<when expression="#[flowVars.key == 'file']">
							<set-variable
								value="#[org.apache.commons.lang.StringUtils.substringAfter(payload.getContentType(),'/')]"
								variableName="fileExtension" doc:name="Variable" />
							<expression-component doc:name="Expression">
								<![CDATA[regMap = new java.util.HashMap();
									regMap['content']= payload.getContent();			
									regMap['fileName']= 'timeline';
									regMap['fileExtension']= flowVars.fileExtension;
								payload = regMap;]]>
							</expression-component>
							<expression-transformer
								expression="#[originalPayload['file']=payload;originalPayload]"
								doc:name="Expression" />
						</when>
						<otherwise>
							<expression-transformer
								expression="#[originalPayload[flowVars.key]=payload.getContent();originalPayload]"
								doc:name="Expression" />
						</otherwise>
					</choice>
				</foreach>
				<set-payload value="#[originalPayload]" />
				<custom-transformer class="org.felo.api.data.MessageTransformer"
					doc:name="Java" />
				<logger level="INFO"
					message="[{#[correlationID]} : TIMELINE-REGISTER Request = #[originalPayload]]"
					doc:name="Logger" />
				<flow-ref name="timelineRegisterValidationFlow" />
			</otherwise>
		</choice>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="timelineListConfigFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Timeline/List" allowedMethods="GET" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : TIMELINE-LIST Request = #[flowVars['originalPayload']] ]"
			doc:name="Logger" />
		<flow-ref name="timelineListValidationFlow" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="timelineDeleteConficFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Timeline/Delete" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>

		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />

		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />

		<logger level="INFO"
			message="[{#[correlationID]} : TIMELINE-DELETE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="deleteTimelineValidationFlow" />

		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>

	<flow name="editTimelineFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="Timeline/Edit" allowedMethods="POST" doc:name="HTTP">
		</http:listener>
		<message-filter doc:name="Filter favicon">
			<not-filter>
				<wildcard-filter pattern="/favicon.ico"
					caseSensitive="true" />
			</not-filter>
		</message-filter>
		<set-variable value="#[message.inboundProperties.'http.method']"
			variableName="method" doc:name="Variable" />
		<custom-transformer class="org.felo.api.data.MessageTransformer"
			doc:name="Java" />
		<set-variable variableName="originalPayload" value="#[payload]"
			doc:name="Variable" />
		<set-variable value="#[message.id]" variableName="correlationID"
			doc:name="Variable" />
		<logger level="INFO"
			message="[{#[correlationID]} : EDIT-TIMELINE Request = #[originalPayload]]"
			doc:name="Logger" />
		<flow-ref name="editTimelineValidationFlow" doc:name="Flow Reference" />
		<logger level="INFO"
			message="[{#[correlationID]} : EDIT-TIMELINE Response = #[payload]]"
			doc:name="Logger" />

		<json:object-to-json-transformer />
		<exception-strategy ref="sessionException"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
